<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.coupon.mapper.AccountCouponMapper">

    <resultMap type="AccountCoupon" id="AccountCouponResult">
        <result property="accountCouponId" column="account_coupon_id"/>
        <result property="couponId" column="coupon_id"/>
        <result property="accountId" column="account_id"/>
        <result property="couponName" column="coupon_name"/>
        <result property="thresholdAmount" column="threshold_amount"/>
        <result property="discountAmount" column="discount_amount"/>
        <result property="validStartTime" column="valid_start_time"/>
        <result property="validEndTime" column="valid_end_time"/>
        <result property="couponStatus" column="coupon_status"/>
        <result property="receiveTime" column="receive_time"/>
        <result property="useTime" column="use_time"/>
        <result property="orderId" column="order_id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectAccountCouponVo">
        select account_coupon_id,
               coupon_id,
               account_id,
               coupon_name,
               threshold_amount,
               discount_amount,
               valid_start_time,
               valid_end_time,
               coupon_status,
               receive_time,
               use_time,
               order_id,
               del_flag,
               create_time,
               update_time
        from account_coupon
    </sql>

    <sql id="selectAccountCouponAliasVo">
        select ac.account_coupon_id as accountCouponId,
               ac.coupon_id         as couponId,
               ac.account_id        as accountId,
               ac.coupon_name       as couponName,
               ac.threshold_amount  as thresholdAmount,
               ac.discount_amount   as discountAmount,
               ac.valid_start_time  as validStartTime,
               ac.valid_end_time    as validEndTime,
               ac.coupon_status     as couponStatus,
               ac.receive_time      as receiveTime,
               ac.use_time          as useTime,
               ac.order_id          as orderId,
               ac.del_flag          as delFlag,
               ac.create_time       as createTime,
               ac.update_time       as updateTime
        from account_coupon ac
    </sql>

    <select id="selectAccountCouponList" parameterType="AccountCoupon" resultMap="AccountCouponResult">
        <include refid="selectAccountCouponVo"/>
        <where>
            <if test="couponId != null ">
                and coupon_id = #{couponId}
            </if>
            <if test="accountId != null ">
                and account_id = #{accountId}
            </if>
            <if test="couponName != null and couponName != ''">
                and coupon_name = #{couponName}
            </if>
            <if test="couponStatus != null ">
                and coupon_status = #{couponStatus}
            </if>
        </where>
    </select>

    <select id="selectAccountCouponById" parameterType="Long" resultMap="AccountCouponResult">
        <include refid="selectAccountCouponVo"/>
        where account_coupon_id = #{accountCouponId}
    </select>

    <select id="selectAccountCouponResultList" parameterType="AccountCouponParams" resultType="AccountCouponResult">
        select
        ac.account_coupon_id as accountCouponId,
        ac.coupon_id as couponId,
        ac.account_id as accountId,
        a.nick_name as accountNickName,
        a.mobile as accountMobile,
        ac.coupon_name as couponName,
        ac.threshold_amount as thresholdAmount,
        ac.discount_amount as discountAmount,
        ac.valid_start_time as validStartTime,
        ac.valid_end_time as validEndTime,
        ac.coupon_status as couponStatus,
        ac.receive_time as receiveTime,
        ac.use_time as useTime,
        ac.order_id as orderId,
        mo.order_no as orderNo,
        ac.del_flag as delFlag,
        ac.create_time as createTime,
        ac.update_time as updateTime
        from account_coupon ac
        left join account a on ac.account_id = a.account_id and a.del_flag = 0
        left join mall_order mo on ac.order_id = mo.order_id and mo.del_flag = 0
        where ac.del_flag = 0
        <if test="couponId != null">
            and ac.coupon_id = #{couponId}
        </if>
        <if test="accountId != null">
            and ac.account_id = #{accountId}
        </if>
        <if test="accountNickName != null and accountNickName != ''">
            and a.nick_name like concat('%', #{accountNickName}, '%')
        </if>
        <if test="accountMobile != null and accountMobile != ''">
            and a.mobile like concat('%', #{accountMobile}, '%')
        </if>
        <if test="couponName != null and couponName != ''">
            and ac.coupon_name like concat('%', #{couponName}, '%')
        </if>
        <if test="orderNo != null and orderNo != ''">
            and mo.order_no like concat('%', #{orderNo}, '%')
        </if>
        <if test="couponStatus != null">
            and ac.coupon_status = #{couponStatus}
        </if>
        order by ac.account_coupon_id desc
    </select>

    <select id="selectAccountCouponResult" parameterType="Long" resultType="AccountCouponResult">
        select ac.account_coupon_id as accountCouponId,
               ac.coupon_id         as couponId,
               ac.account_id        as accountId,
               ac.coupon_name       as couponName,
               ac.threshold_amount  as thresholdAmount,
               ac.discount_amount   as discountAmount,
               ac.valid_start_time  as validStartTime,
               ac.valid_end_time    as validEndTime,
               ac.coupon_status     as couponStatus,
               ac.receive_time      as receiveTime,
               ac.use_time          as useTime,
               ac.order_id          as orderId,
               ac.del_flag          as delFlag,
               ac.create_time       as createTime,
               ac.update_time       as updateTime
        from account_coupon ac
        where ac.del_flag = 0
          and ac.account_coupon_id = #{accountCouponId}
        limit 1
    </select>

    <select id="selectAccountCouponApiResultList" parameterType="AccountCouponApiParams"
            resultType="AccountCouponApiResult">
        select
        ac.account_coupon_id as accountCouponId,
        ac.coupon_id as couponId,
        ac.account_id as accountId,
        ac.coupon_name as couponName,
        ac.threshold_amount as thresholdAmount,
        ac.discount_amount as discountAmount,
        ac.valid_start_time as validStartTime,
        ac.valid_end_time as validEndTime,
        ac.coupon_status as couponStatus,
        ac.receive_time as receiveTime,
        ac.use_time as useTime,
        ac.order_id as orderId,
        ac.del_flag as delFlag,
        ac.create_time as createTime,
        ac.update_time as updateTime
        from account_coupon ac
        where ac.del_flag = 0
        <if test="couponId != null">
            and ac.coupon_id = #{couponId}
        </if>
        <if test="accountId != null">
            and ac.account_id = #{accountId}
        </if>
        <if test="couponName != null and couponName != ''">
            and ac.coupon_name like concat('%', #{couponName}, '%')
        </if>
        <if test="couponStatus != null">
            and ac.coupon_status = #{couponStatus}
        </if>
        <if test="orderAmount != null">
            and ac.coupon_status = 0
            and (ac.order_id = 0 or ac.order_id is null)
            and ac.valid_start_time &lt;= now()
            and ac.valid_end_time &gt;= now()
            and ac.threshold_amount &lt;= #{orderAmount}
        </if>
        order by ac.account_coupon_id desc
    </select>

    <select id="selectAccountCouponApiResult" parameterType="Long" resultType="AccountCouponApiResult">
        select ac.account_coupon_id as accountCouponId,
               ac.coupon_id         as couponId,
               ac.account_id        as accountId,
               ac.coupon_name       as couponName,
               ac.threshold_amount  as thresholdAmount,
               ac.discount_amount   as discountAmount,
               ac.valid_start_time  as validStartTime,
               ac.valid_end_time    as validEndTime,
               ac.coupon_status     as couponStatus,
               ac.receive_time      as receiveTime,
               ac.use_time          as useTime,
               ac.order_id          as orderId,
               ac.del_flag          as delFlag,
               ac.create_time       as createTime,
               ac.update_time       as updateTime
        from account_coupon ac
        where ac.del_flag = 0
          and ac.account_coupon_id = #{accountCouponId}
        limit 1
    </select>

    <select id="selectAccountCouponCount" parameterType="AccountCouponParams" resultType="int">
        select count(1)
        from account_coupon ac
        where ac.del_flag = 0
        <if test="couponId != null ">
            and ac.coupon_id = #{couponId}
        </if>
        <if test="accountId != null ">
            and ac.account_id = #{accountId}
        </if>
        <if test="couponName != null  and couponName != ''">
            and ac.coupon_name like concat('%', #{couponName}, '%')
        </if>
        <if test="couponStatus != null ">
            and ac.coupon_status = #{couponStatus}
        </if>
    </select>

    <select id="selectAccountCouponOne" parameterType="AccountCouponParams" resultMap="AccountCouponResult">
        select
        ac.account_coupon_id,
        ac.coupon_id,
        ac.account_id,
        ac.coupon_name,
        ac.threshold_amount,
        ac.discount_amount,
        ac.valid_start_time,
        ac.valid_end_time,
        ac.coupon_status,
        ac.receive_time,
        ac.use_time,
        ac.order_id,
        ac.del_flag,
        ac.create_time,
        ac.update_time
        from account_coupon ac
        where ac.del_flag = 0
        <if test="couponId != null ">
            and ac.coupon_id = #{couponId}
        </if>
        <if test="accountId != null ">
            and ac.account_id = #{accountId}
        </if>
        <if test="couponName != null  and couponName != ''">
            and ac.coupon_name like concat('%', #{couponName}, '%')
        </if>
        <if test="couponStatus != null ">
            and ac.coupon_status = #{couponStatus}
        </if>
        order by ac.account_coupon_id desc
        limit 1
    </select>

    <insert id="insertAccountCoupon" parameterType="AccountCoupon">
        insert into account_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountCouponId != null">
                account_coupon_id,
            </if>
            <if test="couponId != null">
                coupon_id,
            </if>
            <if test="accountId != null">
                account_id,
            </if>
            <if test="couponName != null">
                coupon_name,
            </if>
            <if test="thresholdAmount != null">
                threshold_amount,
            </if>
            <if test="discountAmount != null">
                discount_amount,
            </if>
            <if test="validStartTime != null">
                valid_start_time,
            </if>
            <if test="validEndTime != null">
                valid_end_time,
            </if>
            <if test="couponStatus != null">
                coupon_status,
            </if>
            <if test="receiveTime != null">
                receive_time,
            </if>
            <if test="useTime != null">
                use_time,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountCouponId != null">
                #{accountCouponId},
            </if>
            <if test="couponId != null">
                #{couponId},
            </if>
            <if test="accountId != null">
                #{accountId},
            </if>
            <if test="couponName != null">
                #{couponName},
            </if>
            <if test="thresholdAmount != null">
                #{thresholdAmount},
            </if>
            <if test="discountAmount != null">
                #{discountAmount},
            </if>
            <if test="validStartTime != null">
                #{validStartTime},
            </if>
            <if test="validEndTime != null">
                #{validEndTime},
            </if>
            <if test="couponStatus != null">
                #{couponStatus},
            </if>
            <if test="receiveTime != null">
                #{receiveTime},
            </if>
            <if test="useTime != null">
                #{useTime},
            </if>
            <if test="orderId != null">
                #{orderId},
            </if>
            <if test="delFlag != null">
                #{delFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="updateAccountCoupon" parameterType="AccountCoupon">
        update account_coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="couponId != null">
                coupon_id = #{couponId},
            </if>
            <if test="accountId != null">
                account_id = #{accountId},
            </if>
            <if test="couponName != null">
                coupon_name = #{couponName},
            </if>
            <if test="thresholdAmount != null">
                threshold_amount = #{thresholdAmount},
            </if>
            <if test="discountAmount != null">
                discount_amount = #{discountAmount},
            </if>
            <if test="validStartTime != null">
                valid_start_time = #{validStartTime},
            </if>
            <if test="validEndTime != null">
                valid_end_time = #{validEndTime},
            </if>
            <if test="couponStatus != null">
                coupon_status = #{couponStatus},
            </if>
            <if test="receiveTime != null">
                receive_time = #{receiveTime},
            </if>
            <if test="useTime != null">
                use_time = #{useTime},
            </if>
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </trim>
        where account_coupon_id = #{accountCouponId}
    </update>

    <delete id="deleteAccountCouponById" parameterType="Long">
        delete
        from account_coupon
        where account_coupon_id = #{accountCouponId}
    </delete>

    <delete id="deleteAccountCouponByIdList" parameterType="java.util.List">
        delete from account_coupon where account_coupon_id in
        <foreach item="accountCouponId" collection="list" open="(" separator="," close=")">
            #{accountCouponId}
        </foreach>
    </delete>

    <update id="logicDeleteAccountCouponById" parameterType="Long">
        update account_coupon
        set del_flag = 1
        where account_coupon_id = #{accountCouponId}
    </update>

    <update id="logicDeleteAccountCouponByIdList" parameterType="java.util.List">
        update account_coupon set del_flag = 1 where account_coupon_id in
        <foreach item="accountCouponId" collection="list" open="(" separator="," close=")">
            #{accountCouponId}
        </foreach>
    </update>
</mapper>